:root {
  --primari-title: #212121;
  --second-title: #ffffff;
  --backgroung-header: #ffffff;
  --primari-background: #e5e5e5;
  --second-background: #f5f4fa;
  --acccent-color: #2196f3;
  --text-color: #757575;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --dark-background: #2f303a;
}

/* Сброс стилей и основные стили*/

.link {
  text-decoration: none;
  font-style: normal;
}
ul {
  list-style: none;
}

main {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  background-color: var(--primari-background);
  color: var(--text-color);
}

.center-text {
  text-align: center;
}

/* Logo */
.web-logo {
  color: var(--acccent-color);
}
.logo-header {
  color: var(--primari-title);
}
.logo-footer {
  color: var(--second-title);
}
.web-logo,
.logo-header,
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
}

/* header */
header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;

  background-color: var(--backgroung-header);
}

.nav-header:hover,
.nav-header:focus {
  color: var(--acccent-color);
}
.nav-header {
  color: var(--primari-title);
}

.adress-header {
  color: var(--text-color);
}
.adress-header:hover,
.adress-header:focus {
  color: var(--acccent-color);
}

.current {
  color: var(--acccent-color);
}

/* footer */
footer {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;

  background-color: var(--dark-background);
}
.footer .link {
  color: var(--second-title);
}

.footer-contacts .link {
  color: var(--footer-contacts-color);
}

/* Герой index */
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  background-color: var(--dark-background);
  color: var(--second-title);
}

.hero-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--second-title-color);
  background-color: var(--acccent-color);
}

/*  преимущество компании*/
h2,
h3 {
  color: var(--primari-title);
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.advantage h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.advantage p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  background-color: var(--second-background);
}

.team h3 {
  font-weight: 500;
}

/* Страница пoртфолио */

/* кнопки */
[button] {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63px;
  letter-spacing: 0.03em;

  background-color: var(--second-background);
  color: var(--primari-title);
}

[type="button"]:hover,
[type="button"]:focus {
  background-color: var(--acccent-color);
  color: var(--second-title);
}

/* работы портфолио */
.works-portfolio {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-portfolio p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
