:root {
  --primari-text-color: rgba(255, 255, 255, 0.6);
  --primari-title-color: #212121;
  --second-title-color: #ffffff;
  --backgroung-header-color: #ffffff;
  --background-hero-color: #2f303a;
  --primari-background-color: #e5e5e5;
  --second-background-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --hover-color: #2196f3;
  --acccent-color: #2196f3;
  --nav-color: #212121;
  --header-contacts-color: #757575;
  --backgroung-button-color: #2196f3;
  --button-color: #ffffff;
  --text-color: #757575;
  --footer-adress-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --web-color: #2196f3;
}

/* Сброс стилей и основные стили*/

.link {
  text-decoration: none;
  font-style: normal;
}
ul {
  list-style: none;
}

main {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  background-color: var(--primari-background-color);
  color: var(--text-color);
}

/* Logo */
.web-logo {
  color: var(--web-color);
}
.logo-header {
  color: var(--primari-title-color);
}
.logo-footer {
  color: var(--second-title-color);
}
.web-logo,
.logo-header,
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
}

/* header */
header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;

  background-color: var(--backgroung-header-color);
}

.nav-header:hover,
.nav-header:focus {
  color: var(--acccent-color);
}
.nav-header {
  color: var(--nav-color);
}

.adress-header {
  color: var(--header-contacts-color);
}
.adress-header:hover,
.adress-header:focus {
  color: var(--acccent-color);
}

.current {
  color: var(--acccent-color);
}

/* footer */
footer {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;

  background-color: var(--background-footer-color);
}
.footer .link {
  color: var(--footer-adress-color);
}

.contacts-footer .link {
  color: var(--footer-contacts-color);
}

/* Герой index */
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;

  background-color: var(--background-hero-color);
  color: var(--second-title-color);
}

.hero-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--second-title-color);
  background-color: var(--acccent-color);
}

/*  преимущество компании*/
h2,
h3 {
  color: var(--primari-title-color);
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.advantage h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.advantage p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  background-color: var(--second-background-color);
}

.team h3 {
  font-weight: 500;
}

/* Страница пoртфолио */

/* кнопки */
.button-portfolio {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63px;
  letter-spacing: 0.03em;
  text-align: center;

  background-color: var(--second-background-color);
  color: var(--primari-title-color);
}

.button-porffolio:hover,
.button-portfolio:focus {
  background-color: var(--acccent-color);
  color: var(--button-color);
}

/* работы портфолио */
.works-portfolio {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-portfolio p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
